# resource.config file

[depends]

main = base/main

[groups]

main =
    scripts/vendor/bootstrap-image-recordviewer/css/bootstrap-image-recordviewer.css
    scripts/vendor/bootstrap-image-recordviewer/js/load-image.js
    scripts/vendor/bootstrap-image-recordviewer/js/bootstrap-image-recordviewer.js
    scripts/vendor/jquery.panzoom/jquery.panzoom.js
    scripts/vendor/jquery/jquery112.js
    scripts/vendor/jquery/jquerydataTables.js	
    scripts/pagination.js	
    scripts/forpagination.js	
    scripts/recordviewer.js
    css/jquerydataTables.css
    css/recordviewer.css
    css/recordviewer_inia.css

