{% extends "package/base.html" %}

{% block subtitle %}{{ _("Ver Información del Registro") }}{% endblock %}


{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
 <p> Probando en BreadCrumb Content</p>
{% endblock %}


{% block pre_primary %}
	<p>texto en block pre_primary</p>
{% endblock %}


{% block primary_content %}
  {% block resource_additional_information %}
   <table>
<tbody>

</tbody>


</table>

{% if data %}
   
{% for recdata in data %}
	<p>{{ recdata }}</p>

	{% if recdata[recordinf] %}
		<p> {{ recdata[recordinf] }} </p>
	{% else %}	
		<p> No data in recdata[recordinf] </p>
	{% endif %}


{% endfor %}



{% for recdata in data['recordinf'] %}


				{% for field in recdata['record'] %}			 
					{% set value = recdata['record'][field] %}
					{% if 'http' in value|string() %}
 {% set url = h.url_for(controller='ckanext.recordviewer.controller:RVController', action='record_read', id=package_name, resource_id=resource_id, record_id=image['record_id']) %}
					<li>
						<a href="{{ url }}">Ver Record </a>
					</li>						 
					{% else %}
						<li> {{ value }} </li>
					{% endif %}
				{% endfor %}

   {% endfor %}



{% else %}
      <p> no data</p>
{% endif %}
  {% endblock %}

{% endblock %}





{% resource 'ckanext-recordviewer/main' %}

