{% extends "package/base.html" %}

{% block subtitle %}{{ _("Ver Información del Registro") }}{% endblock %}


{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
 <p> Probando en BreadCrumb Content</p>
{% endblock %}


{% block pre_primary %}
	<p>texto en block pre_primary</p>
{% endblock %}


{% block primary_content %}
  {% block resource_additional_information %}
   <table>
<tbody>

</tbody>


</table>

{% if data['recordinf'] %}
   

{% for recdata in data['recordinf'] %}


				{% for field in recdata['record'] %}			 
					{% set value = recdata['record'][field] %}
					{% if 'http' in value|string() %}
 						<li>
							<a href="{{ url }}">Ver Record </a>
						</li>						 
					{% else %}
						<li> {{ value }} </li>
					{% endif %}
						<br></br>
				{% endfor %}

   {% endfor %}



{% else %}
      <p> no data['recordinf']</p>
{% endif %}
  {% endblock %}

{% endblock %}





{% resource 'ckanext-recordviewer/main' %}

