recursive-include    ckanext/recordviewer/theme/templates                            *
recursive-include    ckanext/recordviewer/theme/public                               *
recursive-include    ckanext/recordviewer *.html *.json *.js *.less *.css

