
#searchInDataTableInput {
  background-image: url('../searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 14x;
  padding: 6px 10px 6px 20px;
  border: 1px solid #ddd;
  margin-bottom: 2px;
  float: left;
}

#dataTable {
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 12px;
}

#dataTable th, #dataTable td {
  text-align: left;
  padding: 1px;
  border: 1px solid #ddd;
  overflow:hidden; /* Escondemos la parte sobrante */
  white-space:nowrap; /* Indicamos que no realice salto de linea si no cabe en la anchura indicada */
  text-overflow: ellipsis; /* Ponemos los dos puntos */
  width: 10%;
}

#dataTable tr {
  border-bottom: 1px solid #ddd;
}

#dataTable tr.header, #dataTable tr:hover {
  background-color: #f1f1f1;
}

.pagination-btn{
	float: left;
	color: #333;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #AAA;
	margin:2px;
	min-width: 14px;
	padding:  0 7px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	
}

.scrollit {
    overflow:scroll;
    height:600px;
}


.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}

#img_prim_cont .img {
	width: 60%;
	float: center;
}
